@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{

  background-color: #016284;
  font-family: 'Fredoka', sans-serif;
  padding-bottom: 100px;
  
  
}

.App{
  background-color: #016284;
  font-family: 'Fredoka', sans-serif;
  padding-bottom: 100px;

}

.title{
  color: white;
  font-family: 'Fredoka', sans-serif;
}

.cont{
  background-color: white;
  text-align: left;
  margin-top: 10px;
  margin-left: 175px;
  margin-right: 175px;
  border-radius: 3px;
  box-shadow: 1px 1px rgb(163, 163, 163);
}

.trans-title{
  font-family: 'Fredoka', sans-serif;
  color: rgb(0, 225, 255);
  font-weight: lighter;
  margin-left: 30px;
  
}

.options-line{
  display: inline-flex;
  justify-content: space-evenly;
  margin: 10px;
}

.options{
  margin-right:20px;
  margin-left:20px;
  color: grey;
  font-family: 'Fredoka', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 10px;

}


span{
  color: red;
}

.apply-btn{
  border:1px solid cornflowerblue;
  background-color: white;
  color: cornflowerblue;
  border-radius: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.apply-btn1{
  border:1px solid cornflowerblue;
  background-color: white;
  color: cornflowerblue;
  border-radius: 50px;
  padding-left: 25px;
  padding-right: 25px;
  height: 50%;
  margin: auto;
}

.apply-btn:hover{
  border:1px solid white;
  background-color: cornflowerblue;
  color: white;
}
.apply-btn1:hover{
  border:1px solid white;
  background-color: cornflowerblue;
  color: white;
}

hr{
  width: 95%;
  margin: auto
}

.trans-box{
  background-color: rgb(134, 214, 224);
  width: 90%;
  margin: auto;
  margin-top: 20px;
  font-family: 'Fredoka', sans-serif;
  border: solid 1px rgb(173, 173, 173);
  border-radius: 5px;
  
}

.trans-box-text{
display:flex;
justify-content: space-between;
}

.trans-box p{
  font-weight: lighter;
  margin: 20px;
}
.eng-ara{
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  width: 100%;
  
}

.lang{
  width: 100%;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;    
}
.vertical-row {
  Float:left;
  height:100px;
  width:1px; /* edit this if you want */
  background-color: rgb(219, 219, 219)
 } 